{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center ml-5 mt-3 mb-3">
    <h1><strong>TODO List</strong></h1>
    <a href="{% url 'core:task-create' %}" class="btn btn-success mr-5">Create new</a>
  </div>
  {% for tag in tags %}
    <div class="ml-5 mt-3 mb-5">
      <p><strong>Name: </strong>{{ tag.name }}</p>
      <a href="{% url 'core:tag-update' pk=tag.pk %}" class="btn btn-primary mr-1">Update</a>
      <a href="{% url 'core:tag-delete' pk=tag.pk %}" class="btn btn-danger">Delete</a>
    </div>
  {% endfor %}
{% endblock %}
